<!-- Este archivo contiene la configuración para el controlador CNN-YOLO -->
<launch>
  <!-- Cargar parámetros -->
  <arg name="cnn_model_path" default="models/model.pt"/>
  <arg name="yolo_model" default="yolov5s"/>
  <arg name="yolo_confidence" default="0.5"/>
  <arg name="camera_topic" default="/camera/rgb/image_raw"/>
  <arg name="use_compressed" default="false"/>
  <arg name="max_lin_vel" default="0.5"/>
  <arg name="max_ang_vel" default="1.5"/>
  <arg name="control_rate" default="10"/>
  <!-- Iniciar nodo de control CNN-YOLO -->
  <node name="cnn_yolo_controller" pkg="turtlebot3_race" type="exec_cnn_yolo.py" output="screen">
    <param name="cnn_model_path" value="$(arg cnn_model_path)"/>
    <param name="yolo_model" value="$(arg yolo_model)"/>
    <param name="yolo_confidence" value="$(arg yolo_confidence)"/>
    <param name="camera_topic" value="$(arg camera_topic)"/>
    <param name="use_compressed" value="$(arg use_compressed)"/>
    <param name="max_lin_vel" value="$(arg max_lin_vel)"/>
    <param name="max_ang_vel" value="$(arg max_ang_vel)"/>
    <param name="control_rate" value="$(arg control_rate)"/>
  </node>
  <!-- Visualizar la imagen con las detecciones -->
  <node name="image_view" pkg="image_view" type="image_view" respawn="false" output="screen">
    <remap from="image" to="/detection_image"/>
    <param name="autosize" value="true"/>
  </node>
</launch>